.color1{
	background-color: #900C3F !important;
	color:white !important;
}

.color2{
	background-color:#D61D4E !important;
	color:white !important;
}

.facebook_color{
	background-color:#3B40B5;
	color: white;
	border: solid;
	border-color: #D61D4E;
	background-color:#D61D4E;
	color:white;
}

.color3{
	border: solid;
	border-color: #D61D4E;
	box-sizing: border-box;
}