@font-face{
	font-family: 'Roboto-Bold';
	src: url("../fonts/Roboto-Bold.ttf");
}

@font-face{
	font-family: 'Roboto';
	src: url("../fonts/Roboto-Regular.ttf");
}

@font-face{
	font-family: 'Roboto-Italic';
	src: url("../fonts/Roboto-Italic.ttf");
}

@font-face{
    font-family: 'BrannbollFS';
    src: url("../fonts/BrannbollFS_PERSONAL.ttf");
}

@font-face{
    font-family: 'BrannbollSS';
    src: url("../fonts/BrannbollSS_PERSONAL.ttf");
}

@font-face{
    font-family: "AladinRegular";
    src: url("../fonts/aladin.regular.ttf");
}

.AladinRegular{
    font-family: AladinRegular;
}

.BrannbollFS{
    font-family: BrannbollFS;
}

.BrannbollSS{
    font-family: BrannbollSS;
}

body{
    font-family: Roboto;
}

.Roboto_bold{
    font-family: Roboto-Bold;
}

.Roboto{
    font-family: Roboto;
}

a{
    color:#D61D4E;
    text-decoration: underline;
}

.redA{
    color:#D61D4E;
}

.redA:hover{
    color:#D61D4E !important;
    text-decoration: underline !important;
}

.line_behind_text{
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 30px 0; 
}

.line_behind_text_span{
    background:#fff; 
    padding:0 10px; 
}


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.header{
	width:100%;
    height:60px;
}



.padding-lr-32{
	padding-right:32px;
	padding-left:32px;
}

.margin-r-16{
    margin-right:16px;
}

.margin-8 {
    margin: 8px;
}

.inlineblock {
    display: inline-block;
}

.card {
    padding: 0;
    min-width: 200px;
}

.card-img {
    border-radius: 8px 8px 0 0;
}

.price {
    color: #D61D4E;
}

.left-sidebar {
    min-width: 250px;
}

#filter {
    margin: 10%;
    font-weight: bold;
}

#filter h2, #filter h3 {
    font-weight: bold;    margin: 0;
}

#filter h3 {
    margin-bottom: 10px;
}

#filter>div {
    padding: 30px 30px;
}

.discount {
    font-size: 12px;
}
.carousel{
	width:63vw;
	height:500px;
	overflow:hidden;
    margin-left:16px;
	z-index: 1;
}
.imagescar{
	width:65vw;
	height:500px;
    margin:0;
	object-fit:cover;

}

.padding-16{
    padding:16px;
}
.carousel .w3-left,.carousel .w3-right,.carousel .w3-badge {cursor:pointer}
.carousel .w3-badge {height:13px;width:13px;padding:0}


.button_logo{
    margin: -2px;
}

.border_black{
    border: solid 1px black;
}

.half_left{
    width: 48%;
    float: left;
}

.half_right{
    width: 48%;
    float: right;
}

.clear_float{
    clear: both;
}

.margin-bottom-16{
    margin-bottom:16px;
}

.pointer {
    cursor: pointer;
}

.togglePassword{
    cursor: pointer;
}
.container-about{
    display:none;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.margin_top-25{
    margin-top: -25px;
}

.margin_top-30{
    margin-top: -30px;
}

br{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.indicator{
    height: 10px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
}

.indicator span{
    position: relative;
    height: 100%;
    width: 100%;
    background: lightgrey;
    border-radius: 5px;
}

.indicator span:nth-child(2){
    margin: 0 3px;
}

.indicator span.active:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.indicator span.weak:before{
    background-color: #ff4757;
  }

.indicator span.medium:before{
    background-color: orange;
  }

.indicator span.strong:before{
    background-color: #23ad5c;
  }

.passwordText{
    font-size: 15px;
    font-weight: 500;
    display: none;
    margin-bottom: -10px;
  }

.passwordText.weak{
    color: #ff4757;
  }

.passwordText.medium{
    color: orange;
  }

.passwordText.strong{
    color: #23ad5c;
  }
  
.marginLeftRight{
    margin: 0 5px;
}

.center {
    margin: auto;
    width: 80%;
    padding: 10px;
}

.borderRed{
    border: 2px solid #D61D4E;
    padding: 10px;
    margin: 10px 0;
}

.alignCenter{
    text-align: center;
}

.marginleft_10{
    margin-left: 10px;
}

.width70{
    width: 69%;
    margin-right: 10px;
}

.width30{
    width: 30%;
}

.removeTextDecoration{
	text-decoration: none !important;
}

.backgroundimage {
    background-image: url("../img/pinkbottomleft.jpg");
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size:30vw ; 
}

#backgroundleftnav{

    
    background-image: url("../img/food.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:105%;
    color:white !important;

}
#backgroundleftnav:hover{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/food.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:105%;
}

#backgroundleftnav1{
    
    background-image: url("../img/electronic-gadgets.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:105%;
    color:white !important;
}

#backgroundleftnav1:hover{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/electronic-gadgets.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:105%;
}
#backgroundleftnav2{
    
    background-image: url("../img/fashion.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:105%;
    color:white !important;
}

#backgroundleftnav2:hover{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/fashion.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:105%;
}
#backgroundleftnav3{
    
    background-image: url("../img/item.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:105%;
    color:white !important;
}

#backgroundleftnav3:hover{
    
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/item.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:105%;
    
}


.txt{
    background-color:white;
    color:black;
    padding:1vw;
    border-radius:8px;
}

.visited{
    background-color: #900C3F !important;
    color:white !important;
}
.visited:hover{
    background-color: #900C3F !important;
    color:white !important;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  
  border-top: none;
  z-index: 99;
  background-color: white;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  max-height:100px;
  overflow-y: scroll;
}
.autocomplete {
  position: relative;
  display: inline-block;
}
.autocomplete-items div:hover{
     background-color: #900C3F !important;
    color:white !important;

}