 <div class=' w3-left' style ="width:80vw; height:100%">
            <a href="" class="w3-btn w3-card w3-round-large w3-left-align margin-8 card inlineblock" style="width:150px;height:200px">
                <div class="card-img" style="width:100%; height:150px; background-color:#D61D4E;"></div>
                <!--<img class="card-img" src="img/img,jpg" alt="item image" style="width:95%">-->
                <div class="w3-container w3-padding">
                    <div>Hot Wheels</div>
                    <div><s class="discount">Rp100.000</s> <span class="price">Rp88.888</span></div>
                </div>
            </a>
            <a href="" class="w3-btn w3-card w3-round-large w3-left-align margin-8 card inlineblock" style="width:150px;height:200px">
                <div class="card-img" style="width:100%; height:150px; background-color:#D61D4E;"></div>
                <!--<img class="card-img" src="img/img,jpg" alt="item image" style="width:95%">-->
                <div class="w3-container w3-padding">
                    <div>Hot Wheels</div>
                    <div><s class="discount">Rp100.000</s> <span class="price">Rp88.888</span></div>
                </div>
            </a>
            <a href="" class="w3-btn w3-card w3-round-large w3-left-align margin-8 card inlineblock" style="width:150px;height:200px">
                <div class="card-img" style="width:100%; height:150px; background-color:#D61D4E;"></div>
                <!--<img class="card-img" src="img/img,jpg" alt="item image" style="width:95%">-->
                <div class="w3-container w3-padding">
                    <div>Hot Wheels</div>
                    <div><s class="discount">Rp100.000</s> <span class="price">Rp88.888</span></div>
                </div>
            </a>
            <a href="" class="w3-btn w3-card w3-round-large w3-left-align margin-8 card inlineblock" style="width:150px;height:200px">
                <div class="card-img" style="width:100%; height:150px; background-color:#D61D4E;"></div>
                <!--<img class="card-img" src="img/img,jpg" alt="item image" style="width:95%">-->
                <div class="w3-container w3-padding">
                    <div>Hot Wheels</div>
                    <div><s class="discount">Rp100.000</s> <span class="price">Rp88.888</span></div>
                </div>
            </a>
        </div>