<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../lib/w3.css">
    <link rel="stylesheet" href="../../lib/font-awesome.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="../../css/color.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="icon" href="../../img/market_icon.png">
    
    <script src="../../lib/Chart.bundle.js"></script>
    <script src="../../lib/utils.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- <script src='https://kit.fontawesome.com/a076d05399.js'></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        canvas{
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    </style>
    <div class="w3-border" style="width:100vw;height:92px;position:static;overflow:hidden">
        
        <a href="index.html"><img  src="../../img/logo_horizontal.png" class="w3-left w3-margin navimage" style='height:60px'></a>
        <a href="index.html"><img src="../../img/logo_only.png" class="w3-left w3-margin navimage2" style='height:60px'></a>
        <a href="index.html" class="w3-button w3-left navbut navgroup1">Home</a>
        <a href="shop.html" class="w3-button w3-left navbut navgroup1">Shop</a>
        <a href="about.html" class="w3-button w3-left navbut navgroup2">About Us</a>
        <a href="faq.html" class="w3-button w3-left navbut navgroup2">FAQ</a>
        <div class="w3-dropdown-hover w3-left header-more" style="position:static">
            <button class="w3-button navbut"><span class="navgroup3"> More </span><i class="fa fa-caret-down"></i></button>

            <div class="w3-dropdown-content   w3-card-4 dropdown-list" style="position:absolute ;left:0;top:0;transform:translateY(92px); ; width:100vw">
                <a href="#" class="w3-bar-item w3-button navgroup4" style="width:100vw" >Home</a>
            <a href="#" class="w3-bar-item w3-button navgroup4" style="width:100vw">Shop</a>
            <a href="#" class="w3-bar-item w3-button" style="width:100vw" >About Us</a>
            <a href="#" class="w3-bar-item w3-button" style="width:100vw">Help</a>
            </div>
        </div>
        <div class="w3-right container-right-nav">
            <div class="login-container">
                <a href="indexBeforeLogin.html" class="w3-button w3-right w3-round w3-border w3-right margin-r-16 color2 padding-lr-32 navlogin removeTextDecoration" >Log Out</a>
                <a href="login.html" class="w3-border w3-border-red w3-button w3-round w3-right w3-right margin-r-16 padding-lr-32 navlogin removeTextDecoration textColor2" ><img src="../../img/cart2.png" alt="cart2" style="width: 18px;" class="removeMargin"> Cart</a>
            </div>
        </div>
    </div>
</head>