<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../lib/w3.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/color.css">
    <title>Document</title>
    <div class="header   w3-bar w3-mobile">
    	
		<a href="default.asp" class="w3-bar-item w3-button w3-mobile w3-padding-large">Home</a>
		<a href="news.asp" class="w3-bar-item w3-button w3-mobile w3-padding-large">Shop</a>
		<a href="contact.asp" class="w3-bar-item w3-button w3-mobile w3-padding-large">About Us</a>
		<a href="about.asp" class="w3-bar-item w3-button w3-mobile w3-padding-large">Help</a>
		<div class="w3-container w3-bar-item w3-right w3-mobile">
			<a href="#" class="w3-button  color3 padding-lr-32 w3-mobile">Login</a>
			<a href="#" class="w3-button  color2  padding-lr-32 w3-mobile">Sign Up</a>
			
		<div>

    </div>
</head>
<body>
</body>
</html>