<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link rel="stylesheet" href="../../lib/w3.css">
        <link rel="stylesheet" href="../../lib/font-awesome.css">
        <link rel="stylesheet" href="../../css/style.css">
        <link rel="stylesheet" href="../../css/header.css">
        <link rel="stylesheet" href="../../css/footer.css">
        <link rel="stylesheet" href="../../css/color.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="icon" href="../../img/logo.png">

        <script src="../../lib/Chart.bundle.js"></script>
        <script src="../../lib/utils.js"></script>
        <script src="../../js/about.js" defer></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>About us</title>
        <style>
            canvas{
                -moz-user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;
            }
        </style>
        <div class="w3-border" style="width:100vw;height:92px;position:static;overflow:hidden">
            
            <a href="index.html"><img  src="../../img/logo_horizontal.png" class="w3-left w3-margin navimage" style='height:60px'></a>
            <a href="index.html"><img src="../../img/logo_only.png" class="w3-left w3-margin navimage2" style='height:60px'></a>
            <a href="index.html" class="w3-button w3-left navbut navgroup1">Home</a>
            <a href="shop.html" class="w3-button w3-left navbut navgroup1">Shop</a>
            <a href="about.html" class="w3-button w3-left navbut navgroup2">About Us</a>
            <a href="faq.html" class="w3-button w3-left navbut navgroup2">FAQ</a>
            <div class="w3-dropdown-hover w3-left header-more" style="position:static">
                <button class="w3-button navbut"><span class="navgroup3"> More </span><i class="fa fa-caret-down"></i></button>

                <div class="w3-dropdown-content   w3-card-4 dropdown-list" style="position:absolute ;left:0;top:0;transform:translateY(92px); ; width:100vw">
                    <a href="#" class="w3-bar-item w3-button navgroup4" style="width:100vw" >Home</a>
                <a href="#" class="w3-bar-item w3-button navgroup4" style="width:100vw">Shop</a>
                <a href="#" class="w3-bar-item w3-button" style="width:100vw" >About Us</a>
                <a href="#" class="w3-bar-item w3-button" style="width:100vw">Help</a>
                </div>
            </div>
            <div class="w3-right container-right-nav">
                <div class="login-container">
                    <a href="indexBeforeLogin.html" class="w3-button w3-right w3-round w3-border w3-right margin-r-16 color2 padding-lr-32 navlogin removeTextDecoration" >Log Out</a>
                    <a href="cart.html" class="w3-border w3-border-red w3-button w3-round w3-right w3-right margin-r-16 padding-lr-32 navlogin removeTextDecoration textColor2" ><img src="../../img/cart2.png" alt="cart2" style="width: 18px;" class="removeMargin"> Cart</a>
                </div>
            </div>
        </div>
    </head>
<body>
	<div class="w3-padding" style="width:100%;height:800px">
		<div class="w3-border w3-round" style="width:100%;height:100%;position:relative">
			<div class="container-about" style="width:100%;height:100%">
	        	<div class="w3-left   " style="width:50%;height:100%;position:relative;text-align:center">
	        		<div class="w3-left w3-center"  style="width:100%;position:absolute;top:50%;transform:translateY(-50%);">
	        			<img src="../../img/logo_horizontal.png"class="inlineblock" style="width:80%;">
	        		</div>
	        	</div>

	        	<div class="w3-left" style="width:50%;height:100%;position:relative">
	        		<div class="w3-left w3-center"  style="width:100%;position:absolute;top:50%;transform:translateY(-50%);">
	        			<div class="inlineblock w3-left-align " style="width:90%">
			        		<h1 class="w3-center">Welcome To EKOMERS</h1>
			        		<span class="w3-left-align">Welcome to EKOMERS!
			        		EKOMERS is a private company that have mission to give an online market services in Indonesia .
			        		EKOMERS has been established since 1 January 2021 . We hope this company can bring new change to leverage and support Indonesian's digital economic. 
		        			</span>
	        			</div>
	        		</div>

	        	</div>
	        </div>
	        <div class="container-about" style="width:100%;height:100%">
	        	<div class="w3-left   " style="width:50%;height:100%;position:relative;text-align:center">
	        		<div class="w3-left w3-center"  style="width:100%;position:absolute;top:50%;transform:translateY(-50%);">
	        			<img src="../../img/indonesiamap.png"class="inlineblock" style="width:80%;">
	        		</div>
	        	</div>

	        	<div class="w3-left" style="width:50%;height:100%;position:relative">
	        		<div class="w3-left w3-center"  style="width:100%;position:absolute;top:50%;transform:translateY(-50%);">
	        			<div class="inlineblock w3-left-align " style="width:90%">
			        		<h1 class="w3-center">ABOUT EKOMERS</h1>
			        		<span class="w3-left-align">
			        			Our system support 100.000 shop's in Indonesia. There are over 1 million unique product sold and listed in system. We hope we can reach more and more shop owner to expand our system across the world.
		        			</span>
	        			</div>
	        		</div>

	        	</div>
	        </div>
	        <div class="container-about" style="width:100%;height:100%">
	        	<div class="w3-left   " style="width:50%;height:100%;position:relative;text-align:center">
	        		<div class="w3-left w3-center"  style="width:100%;position:absolute;top:50%;transform:translateY(-50%);">
	        			<img src="../../img/customer.png"class="inlineblock" style="width:80%;">
	        		</div>
	        	</div>

	        	<div class="w3-left" style="width:50%;height:100%;position:relative">
	        		<div class="w3-left w3-center"  style="width:100%;position:absolute;top:50%;transform:translateY(-50%);">
	        			<div class="inlineblock w3-left-align " style="width:90%">
			        		<h1 class="w3-center">Welcome To EKOMERS</h1>
			        		<span class="w3-left-align">
			        			Our Motto is "Customer is king". We give our best to custommer and support them. We try to give our best to Our Customer from every community and group.
		        			</span>
	        			</div>
	        		</div>

	        	</div>
	        </div>
        	<div class="w3-center" style="position:absolute;bottom:0vh;width:100%;height:36px; z-index:100">
        		<span class="w3-badge w3-border w3-transparent w3-hover-red badgesa" style="width:10px;height:10px; padding:0 5px;" onclick="changePage(0)"></span>
	            <span class="w3-badge w3-border w3-transparent w3-hover-red badgesa" style="width:10px;height:10px; padding:0 5px" onclick="changePage(1)"></span>
	            <span class="w3-badge w3-border w3-transparent w3-hover-red badgesa" style="width:10px;height:10px; padding:0 5px" onclick="changePage(2)"></span>
	            
        	</div>
	     </div>
 	</div>
    <footer>
        <div class="w3-display-container color1 footer">
            <div class="w3-content">
                <div class="w3-center w3-display-middle">
                    Copyright © 1995-2021 Ekomers. All Rights Reserved. Accessibility, User Agreement, Privacy, Cookies,
                    Do not sell my personal information and AdChoice
                </div>
            </div>
        </div>
    </footer>
</body>
</html>