<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../lib/w3.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/color.css">
    <title>Document</title>
    <div class="w3-border" style="width:100vw;height:92px;position:relative;overflow:hidden">
    	
    	<img src="../../img/logo_horizontal.png" class="w3-left w3-margin " style='height:60px'>
    	<a href="#" class="w3-button w3-left navbut">Home</a>
		<a href="#" class="w3-button w3-left navbut">Shop</a>
		<a href="aboutUs.html" class="w3-button w3-left navbut">About Us</a>
		<a href="faq.html" class="w3-button w3-left navbut leftbut">FAQ</a>
		<a href="#" class="w3-button w3-left navbut leftbut">Dropdown</a>
		<div class="" style="position:absolute;top: 50%;right:0;transform: translateY(-50%);z-index:1;background-color:white ;height:91px">
            <div class="" style="">
                <a href="../pages/signUp.html" class="w3-button w3-round w3-border w3-right  margin-lr-16 color2 padding-lr-32" style="transform: translateY(50%)" >Log Out</a>
            </div>
		</div>
	</div>
</div>
</head>
<body>
    <h2 class="w3-center">Ekomers</h2>
</body>
</html>