<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link rel="stylesheet" href="../../lib/w3.css">
        <link rel="stylesheet" href="../../lib/font-awesome.css">
        <link rel="stylesheet" href="../../css/style.css">
        <link rel="stylesheet" href="../../css/header.css">
        <link rel="stylesheet" href="../../css/footer.css">
        <link rel="stylesheet" href="../../css/color.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="icon" href="../../img/logo.png">
        
        <script src="../../lib/Chart.bundle.js"></script>
        <script src="../../lib/utils.js"></script>
        <script src="../../js/cart.js" defer></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            canvas{
                -moz-user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;
            }
        </style>
       <div class="w3-border " style="width:100vw;height:92px;position:static" ></div>
        <div class="w3-border  sticky" style="width:100vw;height:92px;" >
            
            <a href="index.html"><img  src="../../img/logo_horizontal.png" class="w3-left w3-margin navimage" style='height:60px'></a>
            <a href="index.html"><img src="../../img/logo_only.png" class="w3-left w3-margin navimage2" style='height:60px'></a>
            <a href="index.html" class="w3-button w3-left navbut navgroup1">Home</a>
            <a href="shop.html" class="w3-button w3-left navbut navgroup1">Shop</a>
            <a href="about.html" class="w3-button w3-left navbut navgroup2">About Us</a>
            <a href="faq.html" class="w3-button w3-left navbut navgroup2">FAQ</a>
            <div class="w3-dropdown-hover w3-left header-more" style="position:static">
                <button class="w3-button navbut"><span class="navgroup3"> More </span><i class="fa fa-caret-down"></i></button>

                <div class="w3-dropdown-content   w3-card-4 dropdown-list" style="position:absolute ;left:0;top:0;transform:translateY(92px); ; width:100vw">
                    <a href="#" class="w3-bar-item w3-button navgroup4" style="width:100vw" >Home</a>
                <a href="#" class="w3-bar-item w3-button navgroup4" style="width:100vw">Shop</a>
                <a href="#" class="w3-bar-item w3-button" style="width:100vw" >About Us</a>
                <a href="#" class="w3-bar-item w3-button" style="width:100vw">Help</a>
                </div>
            </div>
            <div class="w3-right container-right-nav">
                <div class="login-container">
                    <button class="w3-button w3-dropdown-hover w3-right w3-round w3-border w3-right color2 padding-lr-32 navlogin removeTextDecoration" style="position:static" >User A <i class="fa fa-caret-down w3-text-white w3-margin-left"></i>
						<div class="w3-dropdown-content w3-border" style="top:100%;right:0;position:absolute;z-index:100;width:100px">
							<a href="#" class="w3-bar-item w3-button w3-left" style="width:100%" >Profile</a>
							<a href="indexBeforeLogin.html" class="w3-bar-item w3-button w3-left" style="width:100%">Logout</a>
						</div>
					</button> <a href="cart.html" class="w3-border w3-border-red w3-button w3-round w3-right w3-right margin-r-16 padding-lr-32 navlogin removeTextDecoration textColor2" ><img src="../../img/cart2.png" alt="cart2" style="width: 18px;" class="removeMargin"> Cart</a>
                </div>
            </div>
        </div>
    </head>
</head>
<body>
    <div class="center w3-container" style="height: 100%;">
        <div class="width70 w3-left">
            <div class="w3-container">
                <input type="checkbox" id="selectAll">
                <label class="unselectable" for="selectAll">Select all items</label>
            </div>
        </div>
        <br>
        <div class="width70 w3-left w3-cell">
            <div class="w3-card w3-container" id="item1">
                <p class="w3-margin-top w3-large">Seller <a class="pointer redA">Srhythm</a></p>
                <br>
                <div class="w3-row">
                    <div class="w3-quarter">
                        <img src="../../img/products/headset2.jpg" alt="" width="100%">
                    </div>
                    <div class="w3-third w3-margin-left">
                        <p>Noise Cancelling Headphones Bluetooth V5.0 Wireless,40Hours Playtime Headsets Over Ear with Microphones&Fast Charge,Srhythm NC75 Pro for TV/PC/Cell Phone - Low Latency(Black)</p>
                        <a class="pointer redA" href="shop.html">View item</a>
                        <p>Rating : 
                            <i class="fa fa-star yellowBackground"></i>
                            <i class="fa fa-star yellowBackground"></i>
                            <i class="fa fa-star yellowBackground"></i>
                            <i class="fa fa-star yellowBackground"></i>
                            <i class="fa fa-star-o yellowBackground" ></i>
                        </p>
                    </div>
                    <div class="w3-rest w3-row">
                        <div class="w3-half w3-block">
                            <b>QTY</b>
                            <br>
                            <input id="qty1" type="number" value="1" min="1" size="10" maxlength="10" style="width: 60px;">
                        </div>
                        <div class="w3-half w3-right">
                            <div>
                                <span><s id="discount1" class="discount">Rp100.000,00</s></span>
                                <br>
                                <span id="price1" class="price">Rp88.888</span></div>
                        </div>
                    </div>
                </div>
                <div class="w3-container  w3-margin-bottom">
                    <input class="w3-margin-top" type="checkbox" id="check1">
                    <label class="unselectable w3-margin-top" for="check1">Select this item to checkout</label>
                    <button id="remove1" class="w3-btn w3-button w3-right color1 w3-round-medium">Remove</button>
                </div>
            </div>
            <br>
            <div class="w3-card w3-container" id="item2">
                <p class="w3-margin-top w3-large">Seller <a class="pointer redA">Nerf</a></p>
                <hr>
                <div class="w3-row">
                    <div class="w3-quarter">
                        <img src="../../img/nerf.png" alt="" width="100%">
                    </div>
                    <div class="w3-third w3-margin-left">
                        <p>Nerf Ultra One Motorized Blaster Nerf Ultra Darts -- Farthest Flying Nerf Darts Ever -- Compatible Only with Nerf Ultra One Darts</p>
                        <a class="pointer redA" href="shop.html">View item</a>
                        <p>Rating : 
                            <i class="fa fa-star yellowBackground"></i>
                            <i class="fa fa-star yellowBackground"></i>
                            <i class="fa fa-star yellowBackground"></i>
                            <i class="fa fa-star yellowBackground"></i>
                            <i class="fa fa-star yellowBackground"></i>
                        </p>
                    </div>
                    <div class="w3-rest w3-row">
                        <div class="w3-half w3-block">
                            <b>QTY</b>
                            <br>
                            <input id="qty2" type="number" value="1" min="1" size="10" maxlength="10" style="width: 60px;">
                        </div>
                        <div class="w3-half w3-right">
                            <div><span id="price2" class="">Rp758.145,89</span></div>
                        </div>
                    </div>
                </div>
                <div class="w3-container  w3-margin-bottom">
                    <input class="w3-margin-top" type="checkbox" id="check2">
                    <label class="unselectable w3-margin-top" for="check2">Select this item to checkout</label>
                    <button id="remove2" class="w3-btn w3-button w3-right color1 w3-round-medium">Remove</button>
                </div>
            </div>
            <br>
            <div class="w3-card w3-container" id="item3">
                <p class="w3-margin-top w3-large">Seller <a class="pointer redA">Samsung</a></p>
                <hr>
                <div class="w3-row">
                    <div class="w3-quarter">
                        <img src="../../img/products/samsung.jpg" alt="" width="100%">
                    </div>
                    <div class="w3-third w3-margin-left">
                        <p>Galaxy S21 Ultra 5G</p>
                        <a class="pointer redA" href="shop.html">View item</a>
                        <p>Rating : 
                            <i class="fa fa-star yellowBackground"></i>
                            <i class="fa fa-star yellowBackground"></i>
                            <i class="fa fa-star yellowBackground"></i>
                            <i class="fa fa-star yellowBackground"></i>
                            <i class="fa fa-star-o yellowBackground" ></i>
                        </p>
                    </div>
                    <div class="w3-rest w3-row">
                        <div class="w3-half w3-block">
                            <b>QTY</b>
                            <br>
                            <input id="qty3" type="number" value="1" min="1" size="10" maxlength="10" style="width: 60px;">
                        </div>
                        <div class="w3-half w3-right">
                            <div><s id="discount3" class="discount"></s>
                                <br>
                                <span id="price3" class="price"></span></div>
                        </div>
                    </div>
                </div>
                <div class="w3-container  w3-margin-bottom">
                    <input class="w3-margin-top" type="checkbox" id="check3">
                    <label class="unselectable w3-margin-top" for="check3">Select this item to checkout</label>
                    <button id="remove3" class="w3-btn w3-button w3-right color1 w3-round-medium">Remove</button>
                </div>
            </div>
        </div>
        <div class="width30 w3-cell" style="height: 1000px;">
            <div class="w3-card w3-container">
                <a href="#" class="w3-btn w3-button w3-center w3-block w3-margin-top color2">Go to checkout</a>
                <div class="w3-block w3-margin-top">
                    <p id="totalItem" class="w3-left" >items (3)</p>
                    <p id="totalPrice" class="w3-right">Rp758.145,89</p>
                </div>
                <br>
                <div class="w3-block w3-margin-top">
                    <p class="w3-left" >Shipping to Singapore</p>
                    <p id="shipping" class="w3-right">Rp169.000,00</p>
                </div>
                <br>
                <div class="w3-block w3-margin-top w3-border-top">
                    <p class="w3-left w3-large" >Sub total</p>
                    <p id="subTotal" class="w3-right">Rp169.000,00</p>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="w3-display-container color1 footer">
            <div class="w3-content">
                <div class="w3-center w3-display-middle">
                    Copyright © 1995-2021 Ekomers. All Rights Reserved. Accessibility, User Agreement, Privacy, Cookies,
                    Do not sell my personal information and AdChoice
                </div>
            </div>
        </div>
    </footer>
</body>
</html>