<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="../../css/color.css">
    <script src="../../lib/Chart.bundle.js"></script>
    <script src="../../lib/utils.js"></script>
    <script src="../../js/index.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../lib/w3.css">
    <link rel="stylesheet" href="../../lib/font-awesome.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../lib/colorThemes/w3-theme-light-blue.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <style>
        canvas{
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    </style>
</head>
<body style="margin:0 ;width:100vw;">
    <div class="w3-border" style="width:100vw;height:92px;position:relative;overflow: hidden">
        
        <img src="../../img/logo_horizontal.png" class="w3-left w3-margin " style='height:60px'>
        <a href="#" class="w3-button w3-left navbut">Home</a>
        <a href="#" class="w3-button w3-left navbut">Shop</a>
        <a href="aboutUs.html" class="w3-button w3-left navbut">About Us</a>
        <a href="faq.html" class="w3-button w3-left navbut leftbut">FAQ</a>
        <a href="#" class="w3-button w3-left navbut leftbut">Dropdown</a>
        
        <div class="" style="position:absolute;top: 50%;right:0;transform: translateY(-50%);z-index:1;background-color:white ;height:89px">
            
                <div class="" style="">
                    <a href="login.html" class="w3-button w3-round w3-border w3-right  margin-lr-16 color2 padding-lr-32" style="transform: translateY(50%)" >Sign Up</a>
                    <a href="signUp.html" class="w3-button w3-round  w3-border w3-right  margin-lr-16 padding-lr-32" style="transform: translateY(50%)">Login</a>
                </div>
            
        </div>
    
    </div>
    <div style="width:65vw;height:532px;" class="w3-left ">
        <div class='w3-display-container w3-left  carousel w3-section '  >
                <img src="../../img/product.gif" class="w3-display-middle imagescar ">
                <img src="../../img/1-.jpg" class="w3-display-middle imagescar ">
                <img src="../../img/product.gif" class="w3-display-middle imagescar ">
                 <div class="w3-center w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white"  onclick="showDivs(1)"></span>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="showDivs(2)"></span>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="showDivs(3)"></span>
                  </div>
        </div>
    </div>
    <div class=' w3-left padding-16' style ="width:35vw;height:532px">
        <ul style="list-style: none ; padding-left:0 ">
            <li class="margin-bottom-16"><a href="default.asp" class="w3-button color1 w3-block w3-round-large" style="height:113px">Home</a></li>
            <li class="margin-bottom-16"><a href="news.asp" class="w3-button color1 w3-block w3-round-large" style="height:113px">Shop</a></li>
            <li class="margin-bottom-16"><a href="contact.asp" class="w3-button color1 w3-block w3-round-large" style="height:113px">About Us</a></li>
            <li><a href="about.asp" class="w3-button color1 w3-block w3-round-large" style="height:113px">FAQ</a></li>
        </ul>
    </div>
    <br>
    <span>
        <span class="fa fa-clock " style="padding-left:16px">
            
        </span>
        Flash Sale: 
        <span class="inline-block color1 w3-round w3-padding" id="day">
            00
        </span> 
        <span class="marginLeftRight">:</span>
        <span class="inline-block color1 w3-round w3-padding" id="hour">
            00
        </span> 
        <span class="marginLeftRight">:</span>
        <span class="inline-block color1 w3-round w3-padding" id="minute">
            00 
        </span>
        <span class="marginLeftRight">:</span>
        <span class="inline-block color1 w3-round w3-padding" id="second">
            00 
        </span>
    </span>
    <br>
    <br>
    <div class=' w3-left padding-16 w3-margin w3-round-large w3-border' style ="width:100vw;height:200px">
        
    </div>
    <footer class='w3-left ' style="width:100vw">
        <div class="w3-display-container color1 footer">
            <div class="w3-content">
                <div class="w3-center w3-display-middle">
                    Copyright © 1995-2021 Funtastic. All Rights Reserved. Accessibility, User Agreement, Privacy, Cookies,
                    Do not sell my personal information and AdChoice
                </div>
            </div>
        </div>
    </footer>

</body>

</html>