<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="../../css/color.css">
    <script src="../../lib/Chart.bundle.js"></script>
    <script src="../../lib/utils.js"></script>
    <script src="../../js/script.js" defer></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../../lib/w3.css">
	<link rel="stylesheet" href="../../lib/font-awesome.css">
	<link rel="stylesheet" href="../../css/style.css">
	<link rel="stylesheet" href="../../lib/colorThemes/w3-theme-light-blue.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <style>
        canvas{
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
        </style>
</head>
<body>
    <div style="width:65vw;height:532px" class="w3-left">
        <div class='w3-display-container w3-left w3-container   carousel w3-section' style="margin-left:2.5vw" >
                <img src="../../img/product.gif" class="w3-display-middle imagescar ">
                <img src="../../img/1-.jpg" class="w3-display-middle imagescar ">
                <img src="../../img/product.gif" class="w3-display-middle imagescar ">
                 <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white"  onclick="showDivs(1)"></span>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="showDivs(2)"></span>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="showDivs(3)"></span>
                  </div>
        </div>
    </div>
     <div class='w3-display-container w3-left' style ="width:35vw;height:532px">
        <ul style="list-style: none ; padding-left:0 ; margin-top:10px;width:100%">
            <li><a href="default.asp" class="w3-button color1 w3-block">Home</a></li>
            <li><a href="news.asp" class="w3-button color1 w3-block">Shop</a></li>
            <li><a href="contact.asp" class="w3-button color1 w3-block">About Us</a></li>
            <li><a href="about.asp" class="w3-button color1 w3-block">Help</a></li>
        </ul>
        
    </div>

</body>
<footer>
    <div class="w3-container footer color1">
        <div class="w3-content">
            <p class="w3-center w3-display-middle">Copyright © 1995-2021 Funtastic. All Rights Reserved. Accessibility, User Agreement, Privacy, Cookies,
                Do not sell my personal information and AdChoice</p>
        </div>
    </div>
</footer>
</html>