<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../lib/w3.css">
    <link rel="stylesheet" href="../../lib/font-awesome.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="../../css/color.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    
    <script src="../../lib/Chart.bundle.js"></script>
    <script src="../../lib/utils.js"></script>
    <script src="../../js/index.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
    <style>
        canvas{
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    </style>
    <div class="w3-border" style="width:100vw;height:92px;position:static;overflow:hidden">
        
        <a href="index.html"><img  src="../../img/logo_horizontal.png" class="w3-left w3-margin navimage" style='height:60px'></a>
        <a href="index.html"><img src="../../img/logo_only.png" class="w3-left w3-margin navimage2" style='height:60px'></a>
        <a href="index.html" class="w3-button w3-left navbut navgroup1">Home</a>
        <a href="shop.html" class="w3-button w3-left navbut navgroup1">Shop</a>
        <a href="about.html" class="w3-button w3-left navbut navgroup2">About Us</a>
        <a href="faq.html" class="w3-button w3-left navbut navgroup2">FAQ</a>
        <div class="w3-dropdown-hover w3-left header-more" style="position:static">
            <button class="w3-button navbut"><span class="navgroup3"> More </span><i class="fa fa-caret-down"></i></button>

            <div class="w3-dropdown-content   w3-card-4 dropdown-list" style="position:absolute ;left:0;top:0;transform:translateY(92px);z-index:10 ; width:100vw">
                <a href="#" class="w3-bar-item w3-button navgroup4" style="width:100vw" >Home</a>
            <a href="#" class="w3-bar-item w3-button navgroup4" style="width:100vw">Shop</a>
            <a href="#" class="w3-bar-item w3-button" style="width:100vw" >About Us</a>
            <a href="#" class="w3-bar-item w3-button" style="width:100vw">Help</a>
            </div>
        </div>
        <div class="w3-right container-right-nav">
            <div class="login-container">
                <a href="indexBeforeLogin.html" class="w3-button w3-right w3-round w3-border w3-right margin-r-16 color2 padding-lr-32 navlogin removeTextDecoration" >Log Out</a>
                <a href="cart.html" class="w3-border w3-border-red w3-button w3-round w3-right w3-right margin-r-16 padding-lr-32 navlogin removeTextDecoration textColor2" ><img src="../../img/cart2.png" alt="cart2" style="width: 18px;" class="removeMargin"> Cart</a>
            </div>
        </div>
    </div>
</head>
<body style="margin:0 ;width:100vw;">
    <div class="w3-center w3-margin">
        <form action="">
            <input type="text" class="w3-padding" name="" id="" placeholder="Search" style="width:80%">
            <input type="submit" class="w3-button w3-round-large color2" value="Search">
        </form>
    </div>
    <div style="width:65vw;height:532px; " class="w3-left">
        <div class='w3-display-container carousel w3-section w3-hover-shadow w3-round-xlarge'  >
            <img src="../../img/ecommerce1.jpg" class="w3-display-middle imagescar ">
            <img src="../../img/ecommerce2.jpg" class="w3-display-middle imagescar ">
            <img src="../../img/ecommerce3.jpg" class="w3-display-middle imagescar ">
            <img src="../../img/ecommerce4.jpg" class="w3-display-middle imagescar ">
            <img src="../../img/ecommerce5.jpg" class="w3-display-middle imagescar ">
            <img src="../../img/ecommerce6.jpg" class="w3-display-middle imagescar ">

            <div class="w3-center w3-section w3-large w3-text-white w3-display-bottommiddle unselectable" style="width:100%">
            <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="showDivs(1)"></span>
            <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="showDivs(2)"></span>
            <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="showDivs(3)"></span>
            <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="showDivs(4)"></span>
            <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="showDivs(5)"></span>
            <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="showDivs(6)"></span>
            </div>
        </div>
    </div>
    <div class=' w3-left padding-16' style ="width:35vw;height:532px">
        <ul style="list-style: none ; padding-left:0 ">
            <li class="margin-bottom-16"><a href="default.asp" class="w3-button color1 w3-block w3-round-large" style="height:113px">Home</a></li>
            <li class="margin-bottom-16"><a href="news.asp" class="w3-button color1 w3-block w3-round-large" style="height:113px">Shop</a></li>
            <li class="margin-bottom-16"><a href="contact.asp" class="w3-button color1 w3-block w3-round-large" style="height:113px">About Us</a></li>
            <li><a href="about.asp" class="w3-button color1 w3-block w3-round-large" style="height:113px">FAQ</a></li>
        </ul>
    </div>
    <br>
    
    <span class="fa fa-clock " style="padding-left:16px">
        
    </span>
    Flash Sale: 
    <span class="inline-block color1 w3-round " style="padding: 8px" id="day">
        ??
    </span> 
    <span class="marginLeftRight" >:</span>
    <span class="inline-block color1 w3-round " style="padding: 8px" id="hour">
        ??
    </span> 
    <span class="marginLeftRight">:</span>
    <span class="inline-block color1 w3-round " style="padding: 8px" id="minute">
        ??
    </span>
    <span class="marginLeftRight">:</span>
    <span class="inline-block color1 w3-round " style="padding: 8px" id="second">
        ??
    </span>
    
    <br>
    <br>
    <div class='w3-left w3-round-large w3-border' style="width:98vw;height:216px ;overflow:hidden;margin:1vw;box-sizing:content-box">

        <!--button-->
        <div class='w3-left w3-center' style="width:9vw ;height:216px;line-height:216px ">
            <div class='w3-button  w3-circle' id ="buttonleft"style="width:7vw;height:7vw;line-height:6.5vw;vertical-align: middle">
                <
            </div>
        </div>
         <!--container-->
        <div class='w3-left ' style ="width:80vw;height:216px;overflow:hidden;position:relative;margin:0">
            <!--isi-->
            <div class="w3-left" id="isicont" style="width:500vw;position:absolute; left:0px">
                <a href="" class="w3-btn w3-card w3-round-large w3-left-align margin-8 card inlineblock  w3-left contentcar" style="width:150px;height:200px">
                    <div class="card-img" style="width:100%; height:150px; background-color:#D61D4E;"></div>
                    <!--<img class="card-img" src="img/img,jpg" alt="item image" style="width:95%">-->
                    <div class="w3-container w3-padding">
                        <div>Hot Wheels</div>
                        <div><s class="discount">Rp100.000</s> <span class="price">Rp88.888</span></div>
                    </div>
                </a>
                <a href="" class="w3-btn w3-card w3-round-large w3-left-align margin-8 card inlineblock w3-left contentcar" style="width:150px;height:200px">
                    <div class="card-img" style="width:100%; height:150px; background-color:#D61D4E;"></div>
                    <!--<img class="card-img" src="img/img,jpg" alt="item image" style="width:95%">-->
                    <div class="w3-container w3-padding">
                        <div>Hot Wheels</div>
                        <div><s class="discount">Rp100.000</s> <span class="price">Rp88.888</span></div>
                    </div>
                </a>
                <a href="" class="w3-btn w3-card w3-round-large w3-left-align margin-8 card inlineblock  w3-left contentcar" style="width:150px;height:200px">
                    <div class="card-img" style="width:100%; height:150px; background-color:#D61D4E;"></div>
                    <!--<img class="card-img" src="img/img,jpg" alt="item image" style="width:95%">-->
                    <div class="w3-container w3-padding">
                        <div>Hot Wheels</div>
                        <div><s class="discount">Rp100.000</s> <span class="price">Rp88.888</span></div>
                    </div>
                </a>
                <a href="" class="w3-btn w3-card w3-round-large w3-left-align margin-8 card inlineblock  w3-left contentcar" style="width:150px;height:200px">
                    <div class="card-img" style="width:100%; height:150px; background-color:#D61D4E;"></div>
                    <!--<img class="card-img" src="img/img,jpg" alt="item image" style="width:95%">-->
                    <div class="w3-container w3-padding">
                        <div>Hot Wheels</div>
                        <div><s class="discount">Rp100.000</s> <span class="price">Rp88.888</span></div>
                    </div>
                </a>
                <a href="" class="w3-btn w3-card w3-round-large w3-left-align margin-8 card inlineblock  w3-left contentcar" style="width:150px;height:200px">
                    <div class="card-img" style="width:100%; height:150px; background-color:#D61D4E;"></div>
                    <!--<img class="card-img" src="img/img,jpg" alt="item image" style="width:95%">-->
                    <div class="w3-container w3-padding">
                        <div>Hot Wheels</div>
                        <div><s class="discount">Rp100.000</s> <span class="price">Rp88.888</span></div>
                    </div>
                </a>
                <a href="" class="w3-btn w3-card w3-round-large w3-left-align margin-8 card inlineblock  w3-left contentcar" style="width:150px;height:200px">
                    <div class="card-img" style="width:100%; height:150px; background-color:#D61D4E;"></div>
                    <!--<img class="card-img" src="img/img,jpg" alt="item image" style="width:95%">-->
                    <div class="w3-container w3-padding">
                        <div>Hot Wheels</div>
                        <div><s class="discount">Rp100.000</s> <span class="price">Rp88.888</span></div>
                    </div>
                </a>
                <a href="" class="w3-btn w3-card w3-round-large w3-left-align margin-8 card inlineblock  w3-left contentcar" style="width:150px;height:200px">
                    <div class="card-img" style="width:100%; height:150px; background-color:#D61D4E;"></div>
                    <!--<img class="card-img" src="img/img,jpg" alt="item image" style="width:95%">-->
                    <div class="w3-container w3-padding">
                        <div>Hot Wheels</div>
                        <div><s class="discount">Rp100.000</s> <span class="price">Rp88.888</span></div>
                    </div>
                </a>
                <a href="" class="w3-btn w3-card w3-round-large w3-left-align margin-8 card inlineblock  w3-left contentcar" style="width:150px;height:200px">
                    <div class="card-img" style="width:100%; height:150px; background-color:#D61D4E;"></div>
                    <!--<img class="card-img" src="img/img,jpg" alt="item image" style="width:95%">-->
                    <div class="w3-container w3-padding">
                        <div>Hot Wheels</div>
                        <div><s class="discount">Rp100.000</s> <span class="price">Rp88.888</span></div>
                    </div>
                </a>
                <a href="" class="w3-btn w3-card w3-round-large w3-left-align margin-8 card inlineblock  w3-left contentcar" style="width:150px;height:200px">
                    <div class="card-img" style="width:100%; height:150px; background-color:#D61D4E;"></div>
                    <!--<img class="card-img" src="img/img,jpg" alt="item image" style="width:95%">-->
                    <div class="w3-container w3-padding">
                        <div>Hot Wheels</div>
                        <div><s class="discount">Rp100.000</s> <span class="price">Rp88.888</span></div>
                    </div>
                </a>
                <a href="" class="w3-btn w3-card w3-round-large w3-left-align margin-8 card inlineblock  w3-left contentcar" style="width:150px;height:200px">
                    <div class="card-img" style="width:100%; height:150px; background-color:#D61D4E;"></div>
                    <!--<img class="card-img" src="img/img,jpg" alt="item image" style="width:95%">-->
                    <div class="w3-container w3-padding">
                        <div>Hot Wheels</div>
                        <div><s class="discount">Rp100.000</s> <span class="price">Rp88.888</span></div>
                    </div>
                </a>
            </div>
        </div>
        <!--button-->
        <div class='w3-left w3-center' style="width:9vw;height:216px;line-height:216px">
            <div class='w3-button  w3-circle' id ="buttonright" style="width:7vw;height:7vw;line-height:6.5vw;vertical-align: middle">
                >
            </div>
        </div>
    </div>
    <footer class='w3-left ' style="width:100vw">
        <div class="w3-display-container color1 footer">
            <div class="w3-content">
                <div class="w3-center w3-display-middle">
                    Copyright © 1995-2021 Funtastic. All Rights Reserved. Accessibility, User Agreement, Privacy, Cookies,
                    Do not sell my personal information and AdChoice
                </div>
            </div>
        </div>
    </footer>

</body>

</html>