<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link rel="stylesheet" href="../../lib/w3.css">
        <link rel="stylesheet" href="../../lib/font-awesome.css">
        <link rel="stylesheet" href="../../css/style.css">
        <link rel="stylesheet" href="../../css/header.css">
        <link rel="stylesheet" href="../../css/footer.css">
        <link rel="stylesheet" href="../../css/color.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <script src="../../lib/Chart.bundle.js"></script>
        <script src="../../lib/utils.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="../../js/product.js" defer></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Hot Wheels | Product</title>
        <style>
            canvas{
                -moz-user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;
            }
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            input[type=number] {
                -moz-appearance: textfield;
            }
        </style>
        <div class="w3-border" style="width:100vw;height:92px;position:static;overflow:hidden">
            
            <a href="index.html"><img  src="../../img/logo_horizontal.png" class="w3-left w3-margin navimage" style='height:60px'></a>
            <a href="index.html"><img src="../../img/logo_only.png" class="w3-left w3-margin navimage2" style='height:60px'></a>
            <a href="index.html" class="w3-button w3-left navbut navgroup1">Home</a>
            <a href="shop.html" class="w3-button w3-left navbut navgroup1">Shop</a>
            <a href="about.html" class="w3-button w3-left navbut navgroup2">About Us</a>
            <a href="faq.html" class="w3-button w3-left navbut navgroup2">FAQ</a>
            <div class="w3-dropdown-hover w3-left header-more" style="position:static">
                <button class="w3-button navbut"><span class="navgroup3"> More </span><i class="fa fa-caret-down"></i></button>
    
                <div class="w3-dropdown-content   w3-card-4 dropdown-list" style="position:absolute ;left:0;top:0;transform:translateY(92px); ; width:100vw">
                    <a href="#" class="w3-bar-item w3-button navgroup4" style="width:100vw" >Home</a>
                <a href="#" class="w3-bar-item w3-button navgroup4" style="width:100vw">Shop</a>
                <a href="#" class="w3-bar-item w3-button" style="width:100vw" >About Us</a>
                <a href="#" class="w3-bar-item w3-button" style="width:100vw">Help</a>
                </div>
            </div>
            <div class="w3-right container-right-nav">
                <div class="login-container">
                    <a href="indexBeforeLogin.html" class="w3-button w3-right w3-round w3-border w3-right margin-r-16 color2 padding-lr-32 navlogin removeTextDecoration" >Log Out</a>
                    <a href="cart.html" class="w3-border w3-border-red w3-button w3-round w3-right w3-right margin-r-16 padding-lr-32 navlogin removeTextDecoration textColor2" ><img src="../../img/cart2.png" alt="cart2" style="width: 18px;" class="removeMargin"> Cart</a>
                </div>
            </div>
        </div>
    </head>
<body>
    <div class="w3-center w3-margin">
        <form action="">
            <input type="text" class="w3-padding" name="" id="" placeholder="Search" style="width:90%">
            <input type="submit" class="w3-button w3-round-large color2" value="Search" style="width:9%">
        </form>
    </div>
    <div class="w3-container center w3-row">
        <div class="w3-half w3-center w3-left left-sidebar">
            <!-- <div class="inlineblock" style="width:100%; height:30vh; background-color:#D61D4E;"></div> -->
            <img src="../../img/products/headset2.jpg" alt="item image" class="w3-block w3-border w3-round-large">
        </div>
        <div class="w3-half w3-container">
            <form action="">
                <b class="w3-xlarge">Noise Cancelling Headphones Bluetooth V5.0 Wireless,40Hours Playtime Headsets Over Ear with Microphones&Fast Charge,Srhythm NC75 Pro for TV/PC/Cell Phone - Low Latency(Black)</b>
                <div class="w3-large w3-margin-top"><i class="fa fa-map-marker"></i> Batam</div>
                <div class="w3-medium">
                    <img src="../../img/market_icon.png" alt="" style="width: 4%; margin:-5px 0px 0px -3px;">
                    visit <a class="pointer redA" href="shop.html">Srhythm shop</a>
                </div>
                <div class="w3-xlarge"><s class="discount w3-large" id="discount">Rp 1.063.116.00</s> <span id="price" class="price">Rp 903.632,65</span></div>
                <b>Rating : 
                    <i class="fa fa-star yellowBackground"></i>
                    <i class="fa fa-star yellowBackground"></i>
                    <i class="fa fa-star yellowBackground"></i>
                    <i class="fa fa-star yellowBackground"></i>
                    <i class="fa fa-star-o yellowBackground"></i>
                </b>
                <div class="unselectable">             
                    <b>Qty : </b>
                    <i id="button-minus" class="fa fa-minus pointer"></i>
                    <input id="quantity-field" type="number" value="1" min="1" size="10" maxlength="10" style="width: 60px;">
                    <i id="button-plus" class="fa fa-plus pointer"></i>
                </div>
                <br>
                <button type="submit" class="w3-button w3-round-large color1 w3-right">Add to cart</button>
            </form>
        </div>
    </div>
    <div class="w3-container center">
        <b>About this item</b>
        <ul>
            <li>World-Leading Digital Active Noise Cancelling(ANC):Quell 92% low-frequency background noise of city traffic,office,plane cabin,etc.(Note:NOT 100% sound cancellation,no need to start ANC in quiet environment.)ANC works well both in wired and wireless mode.</li>
            <li>40Hrs Playtime&Fast Charge:Built-in 750mAH energy-efficiency long-life battery,audio cable as backup when in low battery.Only 5-mins charge provides 2+ hrs playtime,1-2hrs charge to be full power.Over-voltage protection for luxury car.</li>
            <li>Bluetooth&Hi-Fi Sound:More stable BT5.0 and low latency for fast connection and lossless audio sound,what’s more,dual powerful HD stereo 40mm large-aperture drivers to provide deep bass.Sometimes quality just needs to be heard.</li>
            <li>Hands-Free Call&Built-in Mic:NC75 Pro is processed immediately without waiting.Inner noise-cancelling microphones to let you pick up any incoming calls conveniently in clear voice.Support Siri voice control.</li>
            <li>World-Class Comfortable&Portable:Memory-protein earpads,100° swiveling earcups and portable carry case is convenient for travel.Exclusive Design of Air Pressure Balance to reduce sound wave pressure of ANC.Wear much more comfortable than all other brands.</li>
        </ul>
        <hr>
        <h4><b>There is a newer model of this item:</b></h4>
        <a class="w3-row pointer w3-block removeMargin">
            <img class="w3-card w3-padding w3-round-large w3-quarter" src="../../img/products/headtset3.jpg" alt="suggestion" width="200px">
            <div class="w3-half w3-large w3-margin-left">
                <p><b>Noise Cancelling Headphones Wireless Bluetooth 5.0,Fast Charge Over-Ear Lightweight Srhythm NC35 Headset with Microphones,Mega Bass 40+ Hours’ Playtime -Low Latency(Gun Black)</b></p>
                <div class="w3-medium"><s class="discount" id="discount">Rp 1.389.356.00</s> <span id="price" class="price">Rp 1.045.657,65</span></div>
                <b class="w3-medium" >Rating : 
                    <i class="fa fa-star yellowBackground"></i>
                    <i class="fa fa-star yellowBackground"></i>
                    <i class="fa fa-star yellowBackground"></i>
                    <i class="fa fa-star yellowBackground"></i>
                    <i class="fa fa-star yellowBackground"></i>
                </b>
                <p class="w3-text-green w3-medium">In stock.</p>
            </div>
        </a>
    </div>
    <div class="center">
        <h3 class="w3-padding w3-border-bottom"><b>Customer Review</b></h3>
        <div class="w3-container w3-card w3-round-large">
            <div class="w3-margin-top w3-row">
                <img src="../../img/user.png" class="w3-round-xxlarge w3-left" width="50px">
                <div class="w3-left">
                    <b class="w3-xlarge w3-margin-left"> Jack Ma</b>
                    <br>
                    <div class="w3-medium w3-margin-left"><i class="fa fa-map-marker"></i> China</div>
                </div>
            </div>
            <hr>
            <div class="w3-container w3-large">
                <b>Rating : 
                    <i class="fa fa-star yellowBackground"></i>
                    <i class="fa fa-star yellowBackground"></i>
                    <i class="fa fa-star yellowBackground"></i>
                    <i class="fa fa-star yellowBackground"></i>
                    <i class="fa fa-star-o yellowBackground"></i>
                </b>
            </div>
            <div class="w3-container w3-medium">
                <b>Comment : </b>
                <div class="w3-container">
                    <p>Never heard of the brand before, so I thought of buying this to try them out. I have tried noise cancelling headphones from multiple brands and they are almost always pricey too. Tried this model out and goodness, it really does the job! Smothers any hint of an air conditioner or low fan noise and it really helps with the bass too! The quality is excellent, unlike some brand's use of flimsy plastic. All the parts are solid, but I would prefer flannel ear pads as they are washable unlike protein leather. Unfortunately could not find any spare ear pads, which is a kind of a bummer for an avid headphone user like me..</p>
                </div>
            </div>
            <div class="w3-container">
                <div class="w3-row w3-container">
                    <img class="w3-margin-left w3-quarter w3-round-large" src="../../img/products/review.jpg" alt="review image">
                </div>  
            </div>
            <br>
            <div class="w3-container">
                <p class="w3-text-gray">16 People found this helpful</p>
            </div>
            <div class="w3-container">
                <button class="w3-button w3-border w3-border-black">Helpful</button>
                |
                <a class="redA" href="#">Report abuse</a>
            </div>
            <br>
        </div>
    </div>
    <footer>
        <div class="w3-display-container color1 footer">
            <div class="w3-content">
                <div class="w3-center w3-display-middle">
                    Copyright © 1995-2021 Ekomers. All Rights Reserved. Accessibility, User Agreement, Privacy, Cookies,
                    Do not sell my personal information and AdChoice
                </div>
            </div>
        </div>
    </footer>
</body>
</html>