<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link rel="stylesheet" href="../../lib/w3.css">
        <link rel="stylesheet" href="../../lib/font-awesome.css">
        <link rel="stylesheet" href="../../css/style.css">
        <link rel="stylesheet" href="../../css/header.css">
        <link rel="stylesheet" href="../../css/footer.css">
        <link rel="stylesheet" href="../../css/color.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="icon" href="../../img/logo.png">
        <link rel="stylesheet" href="../../lib/jquery-ui/jquery-ui.css">
  		
        <script src="../../lib/Chart.bundle.js"></script>
        <script src="../../lib/utils.js"></script>
        
        <script src="../../js/faq.js" defer></script>
        <script src="../../js/sugestion.js" defer></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="../../js/sticky.js" defer></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		
 		<script src="../../lib/jquery-ui/jquery-ui.js"></script>
		<script>
            $( function() {
                $( "#slider-range" ).slider({
                    range: true,
                    min: 0,
                    max: 1000,
                    values: [ $('#minprice').val(), $('#maxprice').val()],
                    slide: function( event, ui ) {
                        $('#minprice').val(ui.values[0]);
                        $('#maxprice').val(ui.values[1]);
                    }
                });
                
                var minprice = $("#minprice");
                var maxprice = $("#maxprice");

                var updateSlider = function(){
                    
                    $( "#slider-range" ).slider("values", [$('#minprice').val(), $('#maxprice').val()]);
                    minprice.val(addSeparator(minprice.val()));
                    maxprice.val(addSeparator(maxprice.val()));
                }

                minprice.change(updateSlider);
                maxprice.change(updateSlider);
            });
		</script>
        <title>Shop</title>
        <style>
            canvas{
                -moz-user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;
            }

            hr {
                border-top: 1px solid #ccc;
                margin: 0;
            }
        </style>
        <div class="w3-border " style="width:100vw;height:92px;position:static" ></div>
        <div class="w3-border  sticky" style="width:100vw;height:92px;" >
        
            <a href="index.html"><img  src="../../img/logo_horizontal.png" class="w3-left w3-margin navimage" style='height:60px'></a>
            <a href="index.html"><img src="../../img/logo_only.png" class="w3-left w3-margin navimage2" style='height:60px'></a>
            <a href="index.html" class="w3-button w3-left navbut navgroup1">Home</a>
            <a href="shop.html" class="w3-button w3-left navbut navgroup1 visited">Shop</a>
            <a href="about.html" class="w3-button w3-left navbut navgroup2">About Us</a>
            <a href="faq.html" class="w3-button w3-left navbut navgroup2">FAQ</a>
            <div class="w3-dropdown-hover w3-left header-more" style="position:static">
                <button class="w3-button navbut"><span class="navgroup3"> More </span><i class="fa fa-caret-down"></i></button>
    
                <div class="w3-dropdown-content   w3-card-4 dropdown-list" style="position:absolute ;left:0;top:0;transform:translateY(92px); ; width:100vw">
                    <a href="#" class="w3-bar-item w3-button navgroup4" style="width:100vw" >Home</a>
                <a href="#" class="w3-bar-item w3-button navgroup4" style="width:100vw">Shop</a>
                <a href="#" class="w3-bar-item w3-button" style="width:100vw" >About Us</a>
                <a href="#" class="w3-bar-item w3-button" style="width:100vw">Help</a>
                </div>
            </div>
            <div class="w3-right container-right-nav">
                <div class="login-container">
                    <a href="indexBeforeLogin.html" class="w3-button w3-right w3-round w3-border w3-right margin-r-16 color2 padding-lr-32 navlogin removeTextDecoration" >Log Out</a>
                    <a href="cart.html" class="w3-border w3-border-red w3-button w3-round w3-right w3-right margin-r-16 padding-lr-32 navlogin removeTextDecoration textColor2" ><img src="../../img/cart2.png" alt="cart2" style="width: 18px;" class="removeMargin"> Cart</a>
                </div>
            </div>
        </div>
    </head>
<body>
    <div class="w3-center w3-margin">
        <form action="">
            <input type="text" class="w3-padding" name="" id="" placeholder="Search" style="width:90%">
            <input type="submit" class="w3-button w3-round-large color2" value="Search" style="width:9%">
        </form>
    </div>
    <div class="w3-cell w3-left left-sidebar" style="width:20%">
        <form action="">
            <div id="filter" class="w3-center w3-border w3-round-xlarge">
                <div>
                    <h2>FILTER</h2>
                </div>
                <hr>
                <div>
                    <h3>CATEGORIES</h3>
                    <div class="w3-left-align">
                        <input type="checkbox" id="toy"> <label for="toy">TOY</label><br>
                        <input type="checkbox" id="food"> <label for="food">FOOD</label><br>
                        <input type="checkbox" id="electronics"> <label for="electronics">ELECTRONICS</label><br>
                        <input type="checkbox" id="cosmetics"> <label for="cosmetics">COSMETICS</label><br>
                        <input type="checkbox" id="fashion"> <label for="fashion">FASHION</label><br>
                        <input type="checkbox" id="health"> <label for="health">HEALTH</label><br>
                        <input type="checkbox" id="kitchen"> <label for="kitchen">KITCHEN</label><br>
                        <input type="checkbox" id="hobbies"> <label for="hobbies">HOBBIES</label><br>
                        <input type="checkbox" id="other"> <label for="other">OTHER...</label><br>
                        <input type="text" class="" name="" id="" placeholder="Search category.." style="width:100%">
                    </div>
                </div>
                <hr>
                <div>
                    <h3>PRICE</h3>
                    <label for="minprice">$</label> <input type="number" id="minprice" placeholder="Min price" style="width:100px">
                    <br>to<br>
                    <label for="maxprice">$</label> <input type="number" id="maxprice" placeholder="Max price" style="width:100px">
                    <div id="slider-range" class="w3-margin"></div>
                    <div>
                        <span class="w3-left">0</span>
                        <span class="w3-right">1.000</span>
                    </div>
                </div>
                <hr>
                <div>
                    <h3>LOCATION</h3>
                    <div class="w3-left-align">
                        <input type="checkbox" id="jakarta"> <label for="jakarta">Jakarta</label><br>
                        <input type="checkbox" id="bandung"> <label for="bandung">Bandung</label><br>
                        <input type="checkbox" id="batam"> <label for="batam">Batam</label><br>
                        <input type="checkbox" id="padang"> <label for="padang">Padang</label><br>
                        <input type="checkbox" id="medan"> <label for="medan">Medan</label><br>
                        <input type="checkbox" id="denpasar"> <label for="denpasar">Denpasar</label><br>
                        <input type="checkbox" id="pontianak"> <label for="pontianak">Pontianak</label><br>
                        <input type="checkbox" id="makassar"> <label for="makassar">Makassar</label><br>
                        <input type="checkbox" id="surabaya"> <label for="surabaya">Surabaya</label><br>
                        <input type="checkbox" id="semarang"> <label for="semarang">Semarang</label><br>
                        <input type="checkbox" id="other"> <label for="other">Other...</label><br>
                        <div class="autocomplete">
                        <input type="text" class="" name="" id="countryinput" placeholder="Search location.." style="width:100%">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="w3-cell w3-container w3-center" style="max-width: 80%;">
        <a href="product.html" class="w3-btn w3-card w3-round-large w3-left-align margin-8 card inlineblock" style="width:28%">
            <div class="card-img w3-grey" style="width:100%; background-color:w3;">
                <img class="w3-block" src="../../img/products/razer.jpg" alt="" width="100%"></div>
            
            <div class="w3-container w3-padding">
                <b>Razer Viper Ultimate Hyperspeed</b>
                <div><span class="">$ 19.32</span></div>
                <div class="w3-medium"><i class="fa fa-map-marker"></i> Singapore</div>
                <div><img src="../../img/market_icon.png" style="width:20px; height:20px;  margin:-5px 0px 0px -5px"> Singapore Razer</div>
            </div>
        </a>
        <a href="product.html" class="w3-btn w3-card w3-round-large w3-left-align margin-8 card inlineblock" style="width:28%">
            <div class="card-img w3-grey" style="width:100%; background-color:w3;">
                <img class="w3-block" src="../../img/products/oppoPhone.jpg" alt="" width="100%"></div>
            <div class="w3-container w3-padding">
                <b>OPPO F17 Pro (Metallic White)</b>
                <div><s class="discount">$ 50.30</s> <span class="price">$ 415.94</span></div>
                <div class="w3-medium"><i class="fa fa-map-marker"></i> Indonesia</div>
                <div><img src="../../img/market_icon.png" style="width:20px; height:20px;  margin:-5px 0px 0px -5px"> Oppo</div>
            </div>
        </a>
        <a href="product.html" class="w3-btn w3-card w3-round-large w3-left-align margin-8 card inlineblock" style="width:28%">
            <div class="card-img w3-grey" style="width:100%; background-color:w3;">
                <img class="w3-block" src="../../img/products/headset2.jpg" alt="" width="100%"></div>
            
            <div class="w3-container w3-padding">
                <b>Noise Cancelling Headphones Bluetooth</b>
                <div><s class="discount">$ 106.31</s> <span class="price">$ 90.63</span></div>
                <div class="w3-medium"><i class="fa fa-map-marker"></i> Singapore</div>
                <div><img src="../../img/market_icon.png" style="width:20px; height:20px;  margin:-5px 0px 0px -5px"> Srhythm</div>
            </div>
        </a>
        <a href="product.html" class="w3-btn w3-card w3-round-large w3-left-align margin-8 card inlineblock" style="width:28%">
            <div class="card-img w3-grey" style="width:100%; background-color:w3;">
                <img class="w3-block" src="../../img/products/drone.jpg" alt="" width="100%"></div>
            <div class="w3-container w3-padding">
                <b>SNAPTAIN S5C WiFi FPV Drone</b>
                <div><span class="">$ 178.69</span></div>
                <div class="w3-medium"><i class="fa fa-map-marker"></i> Malaysia</div>
                <div><img src="../../img/market_icon.png" style="width:20px; height:20px;  margin:-5px 0px 0px -5px"> Snaptain Drone</div>
            </div>
        </a>
        <a href="product.html" class="w3-btn w3-card w3-round-large w3-left-align margin-8 card" style="width:28%">
            <div class="card-img w3-grey" style="width:100%; background-color:w3;">
                <img class="w3-block" src="../../img/products/mascara.jpg" alt="" width="100%"></div>
            <div class="w3-padding">
                <b>Lotus Herbals Botanical Mascara | 4g.</b>
                <div><s class="discount">$ 5.70</s> <span class="price">$ 4.06</span></div>
                <div class="w3-medium"><i class="fa fa-map-marker"></i> Canada</div>
                <div><img src="../../img/market_icon.png" style="width:20px; height:20px; margin:-5px 0px 0px -5px"> Maxlash</div>
            </div>
        </a>
        <a href="product.html" class="w3-btn w3-card w3-round-large w3-left-align margin-8 card inlineblock" style="width:28%">
            <div class="card-img w3-grey" style="width:100%; background-color:w3;">
                <img class="w3-block" src="../../img/products/headset.jpg" alt="" width="100%"></div>
            <div class="w3-container w3-padding">
                <b>Mivi Collar 2B Wireless Earphones.</b>
                <div class="w3-medium"><i class="fa fa-map-marker"></i> United State America</div>
                <div><s class="discount">$ 58.00</s> <span class="price">$ 23.20</span></div>
                <div><img src="../../img/market_icon.png" style="width:20px; height:20px; margin:-5px 0px 0px -5px"> Mivi</div>
            </div>
        </a>
        <a href="product.html" class="w3-btn w3-card w3-round-large w3-left-align margin-8 card inlineblock" style="width:28%">
            <div class="card-img w3-grey" style="width:100%; background-color:w3;">
                <img class="w3-block" src="../../img/products/dettol.jpg" alt="" width="100%"></div>
            <div class="w3-container w3-padding">
                <b>Dettol Original Germ Protection Sanitizer</b>
                <div class="w3-medium"><i class="fa fa-map-marker"></i> China</div>
                <div><s class="discount">$ 4.83</s> <span class="price">$ 3.87</span></div>
                <div><img src="../../img/market_icon.png" style="width:20px; height:20px;  margin:-5px 0px 0px -5px"> Dettol</div>
            </div>
        </a>
        <a href="product.html" class="w3-btn w3-card w3-round-large w3-left-align margin-8 card inlineblock" style="width:28%">
            <div class="card-img w3-grey" style="width:100%; background-color:w3;">
                <img class="w3-block" src="../../img/products/dairyMilk.jpg" alt="" width="100%"></div>
            <div class="w3-container w3-padding">
                <b>Cadbury Dairy Milk Silk Chocolate Bar</b>
                <div class="w3-medium"><i class="fa fa-map-marker"></i> Thailand</div>
                <div><s class="discount">$ 6.19</s> <span class="price">$ 5.03</span></div>
                <div><img src="../../img/market_icon.png" style="width:20px; height:20px;  margin:-5px 0px 0px -5px"> Dairy Milk</div>
            </div>
        </a>
        <a href="product.html" class="w3-btn w3-card w3-round-large w3-left-align margin-8 card inlineblock" style="width:28%">
            <div class="card-img w3-grey" style="width:100%; background-color:w3;">
                <img class="w3-block" src="../../img/products/dumbbell.jpg" alt="" width="100%"></div>
            <div class="w3-container w3-padding">
                <b>Kakss Cast Iron Vinyl Coated Dumbbells</b>
                <div class="w3-medium"><i class="fa fa-map-marker"></i> Russia</div>
                <div><s class="discount">$ 11.59</s> <span class="price">$ 5.09</span></div>
                <div><img src="../../img/market_icon.png" style="width:20px; height:20px;  margin:-5px 0px 0px -5px"> Kakss</div>
            </div>
        </a>
        <a href="product.html" class="w3-btn w3-card w3-round-large w3-left-align margin-8 card inlineblock" style="width:28%">
            <div class="card-img w3-grey" style="width:100%; background-color:w3;">
                <img class="w3-block" src="../../img/products/speaker.jpg" alt="" width="100%"></div>
            <div class="w3-container w3-padding">
                <b>Zebronics Zeb-Warrior 2.0 Multimedia</b>
                <div class="w3-medium"><i class="fa fa-map-marker"></i> Taiwan</div>
                <div><s class="discount">$ 19.33</s> <span class="price">$ 12.17</span></div>
                <div><img src="../../img/market_icon.png" style="width:20px; height:20px;  margin:-5px 0px 0px -5px"> Zebronics</div>
            </div>
        </a>
        <a href="product.html" class="w3-btn w3-card w3-round-large w3-left-align margin-8 card inlineblock" style="width:28%">
            <div class="card-img w3-grey" style="width:100%; background-color:w3;">
                <img class="w3-block" src="../../img/products/mixers.jpg" alt="" width="100%"></div>
            <div class="w3-container w3-padding">
                <b>Premium Mixer Grinder with 3 Jars</b>
                <div class="w3-medium"><i class="fa fa-map-marker"></i> Japan</div>
                <div><s class="discount">$ 43.52</s> <span class="price">$ 40.04</span></div>
                <div><img src="../../img/market_icon.png" style="width:20px; height:20px;  margin:-5px 0px 0px -5px">Mixer</div>
            </div>
        </a>
    </div>
    <footer>
        <div class="w3-display-container color1 footer">
            <div class="w3-content">
                <div class="w3-center w3-display-middle">
                    Copyright © 1995-2021 Ekomers. All Rights Reserved. Accessibility, User Agreement, Privacy, Cookies,
                    Do not sell my personal information and AdChoice
                </div>
            </div>
        </div>
    </footer>
</body>
</html>