<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../../css/footer.css">
		<link rel="stylesheet" href="../../css/color.css">
		<link rel="icon" href="../../img/logo.png">
		<script src="../../lib/Chart.bundle.js"></script>
		<script src="../../lib/utils.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../../lib/w3.css">
		<link rel="stylesheet" href="../../lib/font-awesome.css">
		<link rel="stylesheet" href="../../css/style.css">
		<link rel="stylesheet" href="../../lib/colorThemes/w3-theme-light-blue.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="../../js/account.js" defer></script>
        <script src="../../js/script.js" defer></script>
        <script src="../../js/togglePassword.js" defer></script>
		<link rel="stylesheet" href="../../css/style.css">
		<title>Sign up</title>
	</head>
	<body>
        <!-- NAV -->
        <img id="logo" class="w3-display-topleft pointer" style="width:15%;" src="../../img/logo_horizontal.png" alt="logo">
		<div class="w3-display-container" style="height:120%;">
			<div class="w3-display-middle" style="width: 30%">
				<form method="POST" action="login.html">
					<h1 class="w3-xlarge Roboto_bold w3-center">Create an account</h1>
                    <p class="w3-center">Please input your personal data <br>
                        All your information will be kept confidential.
                    </p>
                    <br>
					<input class="w3-input" type ="text" placeholder='Email or Username'>
					<br>
					<div>
                        <input class="w3-input half_left" type ="text" placeholder='First name'>
                        <input class="w3-input half_right" type ="text" placeholder='Last name'>
                    </div>
                    <div class="clear_float"></div>
                    <br>
                    <input id="password" class="w3-input" type ="password" placeholder='Password'>
					<br>
					<div class="indicator">
                        <span class="weak"></span>
                        <span class="medium"></span>
                        <span class="strong"></span>
                    </div>
					<div class="passwordText w3-center"></div>
					<br>
                    <input id="confirmPassword" class="w3-input" type ="password" placeholder='Confirm password'>
					<br>
                    <div class="w3-right">
                        <i class="fa fa-eye togglePassword unselectable" id="togglePassword"> Show password</i>
                    </div>
                    <br>
                    <input class="w3-input" type ="date" placeholder='Confirm password'>
                    <br>
                    <input class="w3-input" type ="number" placeholder='Telephone number'>
					<br>
                    <p>By <b>Creating an account</b>, you agree to our 
                        <a href="User-Agreement.pdf"> User Agreement</a> and acknowledge reading our 
                        <a href="User-Privacy-Notice.pdf"> User Privacy Notice</a>.</p>
					<button type="submit" class="w3-btn w3-block color2 Roboto_bold">Create account</button>
				</form>
				<p class="line_behind_text">
					<span class="line_behind_text_span"><b>or</b></span>
				</p>
				<div id="facebook" class="w3-btn w3-block facebook_color Roboto_bold">
					<img class="w3-left button_logo" width="25px" src="../../img/facebook_logo.png" alt="facebook logo">Register with Facebook
				</div>
				<br>
				<div id="google" class="w3-btn w3-block Roboto_bold border_black" >
					<img class="w3-left button_logo" width="25px" src="../../img/google_logo.png" alt="google logo">Register with Google
				</div>
			</div>
		</div>
		<footer>
			<div class="w3-display-container color1 footer">
				<div class="w3-content">
					<div class="w3-center w3-display-middle">
						Copyright © 1995-2021 Ekomers. All Rights Reserved. Accessibility, User Agreement, Privacy, Cookies,
						Do not sell my personal information and AdChoice
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>